:root {
    --primary-color: rgb(0, 21, 36);
    --secondary-color: rgb(93, 115, 126);
    --tertiary-color: rgb(230, 232, 230);
    --accent-1: rgb(106, 153, 78);
    --accent-2: rgb(181, 247, 209);
}

*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
    font-family:Georgia, 'Times New Roman', Times, serif;
}


/* header section */

header {
    padding: 20px 35px;
    background-color: var(--primary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index:9999;
}
header a {
    text-decoration: none;
    color: var(--secondary-color);
}

header h1 span{
    font-weight: bold;
    margin: 0;
    font-size: 40px;
    color:var(--tertiary-color);
}

header h1 {
    font-weight: bolder;
    font-size: 45px;
    color: var(--accent-2);
    text-shadow: 2px 2px 3px rgb(106, 153, 78, 0.5);
  }




header h1:hover + .subhead h2 { 
    opacity: 100%;
    transition:opacity 5s;
}
header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-size: 2vw;
    text-shadow: 0.5px 0.5px 1px rgb(181, 247, 209);
    transition: 0.6s;
    border-radius: 30px;
}

header nav ul li a:hover {
    background: rgb(93, 115, 126, 0.8);
    color: var(--accent-2);
    text-shadow: none;
}

.me {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
    column-gap: 10%;
    background-color: var(--primary-color);
    height: 400px
}

.about h2 {
    flex: 2 0 100%;
    align-self: center;
    color: var(--tertiary-color);
    border-bottom:rgb(181, 247, 209) solid 1px;
    font
}

#photo-of-me {
  height: 50%;
  width: 50%;
  border: 5px solid var(--accent-2)
  
}
.me article p {
    align-self: center
}

.me article {
    flex: 1 
}

  /* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
  @media screen and (max-width: 980px) {
    header {
      padding-bottom: 0;
      justify-content: center;
      position: relative;
    }
  
    header h1 {
      width: 100%;
      text-align: center;
    }

    header .subhead{ 
       display: none
    }
  
    header nav ul {
      margin-top: 40px;
      width: 100%;
      justify-content: center;
      
    }
  
    header nav ul li a {
      font-size: 15px;
      border: 0;
      margin: 0;
      border-radius: 50px;
    }
  
    footer h2, footer div {
      text-align: center;
      width: 100%;
    }
  
    #about-me{
      width: 100%;
      text-align: center;
    }
  
    .work-title {
      width: 80%;
    }
    
    .work-title {
      flex: 0 70%;
    }
   
  }
  
  /* MEDIA QUERY FOR TABLETS AND SMALLER */
  @media screen and (max-width: 768px) {
    section {
      padding: 30px 15px;
    }
  

  
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {
    
  }